/**
 * @file
 * Visual styles for nodes.
 */
.view-microblog .views-row {
  border-bottom: 2px dotted #00808054;
  padding: 1em 0;
}
.view-microblog .views-row:last-child {
  border-bottom: 0;
}

article.node {
  font-family: "Scope One", Georgia, serif;
}

.node--unpublished {
  background-color: #fff4f4;
}

article.node h2 .field--name-title {
  color: #999999;
  text-decoration: none;
}

article.node .metadata {
  margin-bottom: 1em;
  /*border-bottom: 3px dotted #f3f7f1;*/
}

article.node .node__meta {
  font-size: .8em;
  font-weight: bold;
}

body.path-frontpage article.node {

}

article.node .node__content a {
  text-decoration: underline;
  color: teal;
}
