/**
 * @file
 * Visual styles for nodes.
 */

.node--unpublished {
  background-color: #fff4f4;
}

article.node h2 .field--name-title {
  color: #999999;
  text-decoration: none;
}

article.node .metadata {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 3px dotted #f3f7f1;
}

article.node .node__meta {
  font-size: .8em;
  color: #93a58a;
}

body.path-frontpage article.node {

}

article.node .node__content a {
  text-decoration: underline;
  color: teal;
}
